@media screen and (max-width:768px){

    .hamburger{
        display: block;
        z-index: 1;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .logo{
        justify-content: center;
        width: 50vw;
        margin: 0 auto;
    }
    .logo img{
        width: 100%;
    }
    #main_nav{
        justify-content: end;
        align-items: center;
        padding-right: 2rem;
        box-shadow:none;
        height: 10vh;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
        background-color: var(--color-light);
    }
    .logo_inscription{
        width: 100%;
    }
    #main_nav .nav_menu{
        width: 100%;
        height: 45vh;
    }
    .nav_menu{
        position: fixed;
        flex-direction: column;
        left: -100%;
        top: 70px;
        gap: 0;

        text-align: center;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
        background-color: var(--color-light);
    }
    .nav_item{
        margin: 16px 0;
    }
    .nav_menu.active{
        left: 0;
    }
    .nav_item .nav_link:hover{
        border-radius: 0;
        width: 100%;
        width: 100%;
    }
    #inscription{
        flex-direction: column;
        background-image: none;
        height: 100%;
        background-color: var(--color-blue);
    }
    .logo_inscription > img{
        display: none;
    }
    .inscription_detail{
        width: 100%;
    }
    .inscription_detail button{
        width: 100%;
        height: 8vh;
    }
    .mobile {
        display: block;
        padding: 1rem;
        text-align: center;
        line-height: 24px;
        width: 100%;
        height: auto;
    }
    .call_frame, .slider, .manual-navigation, .navigation-auto{
        width: 100%;
        display: none;
    }
    .videos{
        width: 100%;
    }
    .edicoes_title{
        flex-direction: column;
        font-size: .9rem;
    }
    .icon, .icon img{
        display: none;
        width: 0;
        height: 0;
    }
    #schedule{
        width: 100%;
    }
    .text{
        width: 90%;
    }
    .event_container{
        width: 100%;
    }
    .event_article{
        width: 100%;
    }

    .patrocinadores_container{
        width: 100%;
    }
    .patrocinador_content{
        width: 90%;
    }
    .patrocinador_content ul li{
        list-style: none;
    }
    .palestrante_foto{
        width: 20vw;
    }
    .palestrante_info p{
        padding: 0;
    }


    .modal-content{
        width: 90vw;
        margin: 25% auto;
    }
    .btn_endereco{
        width: 100%;
    }
    .modal_form input[type="text"]{
        width: 100%;
    }
    .modal_form input[type="button"]{
        width: 100%;
    }
    .txt_area{
        width: 100%;
    }

    #myBtn{
        width: 100%;
    }
    #main_footer{
        flex-direction: column;
        width: 100%;
    }
    .contato{
        width: 100%;
    }
    #btn_contato{
        width: 100%;
        margin: 1rem 0;
    }
}