/*RESET STYLE*/
*{
    margin: 0;
    padding: 0;
    font-family: gothan;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.hide{
    display: none;
}
h1, h2, h3{
    color: #007078;
}
span{
    font-weight: bolder;
    color: var(--color-second);
}
a{
    color: inherit;
}
/*PROJECT COLORS*/
:root{
    --color-second: #e28431;
    --color-blue: #2dc3ca;
    --color-medium-blue: #0099a8;
    --color-main: #007078;
    --color-light-blue: #75d3d7;
    --color-dark: #3f3f3f;
    --color-medium-dark: #44546a;
    --color-light: #e7e6e6;
}

html, body{
    height: auto;
    background-color: var(--color-light);
    
}

main{
    display: grid;
    grid-template-rows: 10vh auto ;
    grid-template-areas: 
        'header'
        'inscription'
        'call'
        'information'
        'main_slide'
        'schedule'
        'secondary_slide'
        'footer'
        ;
    }
    
    #main_header{
        grid-area: header;
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 0 1rem 0 1rem;
        }
        #logo{
            display: flex;
            justify-content: start;
            align-items: center;
            height: 100%;
            }
            #logo img{
                height: 100%;
            }
        #main_nav{
            display: flex;
            justify-content: end;
            align-items: center;
            }
            #main_nav .nav_menu{
                display: flex;
                align-items: center;
                justify-content: space-between;
                z-index: 1;
                gap: 60px;
                background-color: var(--color-light);
                }
                .nav_menu .nav_item{
                    display: flex;
                    justify-content: space-between;
                    text-align: left;
                    color: var(--color-second);
                    }
                    .nav_menu .nav_item a{
                        cursor: pointer;
                        color: inherit;
                        transition: 1s;
                        }
                        .nav_item .nav_link{
                            -webkit-transition: 0.7s ease;
                            -moz-transition: 0.7s ease;
                            transition: 0.7s ease;
                            }
                            .nav_item .nav_link:hover{
                                border-radius: 50px;
                                padding: 0.5rem;
                                -webkit-transition: 0.4s ease;
                                -moz-transition: 0.4s ease;
                                transition: 0.4s ease;
                                font-weight: bold;
                                color: var(--color-light);
                                background-color: var(--color-second);
                            }
            .hamburger{
                display: none;
                cursor: pointer;
                }
                .hamburger .bar{
                    display: block;
                    width: 25px;
                    height: 3px;
                    margin: 5px auto;
                    -webkit-transition: all 0.3s ease-in-out;
                    -moz-transition: all 0.3s ease-in-out;
                    transition: all 0.3s ease-in-out;
                    background-color: var(--color-second);
                }



    #inscription{
        grid-area: inscription;
        display: flex;
        justify-content: end;
        background: linear-gradient(rgba(243, 243, 243, 0.4), rgba(15, 72, 75, 0.4)), url(/components/images/background_landing_page.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin-bottom: 2rem;
        }
        .inscription_detail{
            padding: 1rem;
            width: 50%;
            height: 90%;
            font-size: 1.5rem;
            font-weight: 400;
            text-align: start;
            }
            .inscription_detail h2{
                color: var(--color-medium-blue);
                text-align: start;
                font-weight: 400;
                margin: 55px 0 55px 0;
            }
            .inscription_detail p{
                color: var(--color-dark);
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 55px;
            }
            .inscription_detail h3{
                color: var(--color-dark);
                margin-bottom: 55px;
            }
            .inscription_detail .tema{
                color: var(--color-blue);
            }
            .inscription_detail button{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 55px;
                padding: 0.5rem;
                border-radius: 50px;
                border-style: none;
                width: 15vw;
                height: 5vh;
                cursor: pointer;
                font-size: 1.5rem;
                font-weight: bolder;
                color: var(--color-light);
                background-color: var(--color-second);
            }
    #call{
        grid-area: call;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        }
        .mobile{
            display: none;
        }
        .call_frame{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 800px;
            height: 300px;
            -moz-transition: 2s;
            transition: 2s;
            }
            .call_frame p{
                text-align: center;
                line-height: 32px;
                font-size: medium;
                font-weight:bold;
            }
        /*################slider#################*/
        .slider{
            margin: 0 auto;
            width: 800px;
            height: 300px;
            overflow: hidden;
        }
        .slides{
            width: 400%;
            height: 300px;
            display: flex;
        }
        .slides input{
            display: none;
        }

        .manual-navigation{
            position: absolute;
            display: flex;
            justify-content: center;
            width: 800px;
            margin-top: -30px;
        }
        .manual-btn{
            padding: 5px;
            border: 2px solid var(--color-blue);
            border-radius: 10px;
            cursor: pointer;
            -moz-transition: 1s;
            transition: 1s;
        }
        .manual-btn:not(:last-child){
            margin-right: 40px;
        }
        .manual-btn:hover{
            background-color: var(--color-light-blue);
        }

        #radio1:checked ~ .first{
            margin-left: 0;
        }

        #radio1:checked ~ .first{
            margin-left: -25%;
        }

        .navigation-auto{
            position: absolute;
            display: flex;
            justify-content: center;
            width: 800px;
            margin-top: 270px;
            }
            .navigation-auto div:not(:last-child){
                margin-right: 40px;
            }
            #radio1:checked ~ .navigation-auto .auto-btn1{
                background-color: var(--color-blue);
            }
            #radio2:checked ~ .navigation-auto .auto-btn2{
                background-color: var(--color-blue);
            }
            .navigation-auto div{
                border: 2px solid var(--color-medium-blue);
                border-radius: 10px;
                padding: 5px;
                cursor: pointer;
                -moz-transition: 1s;
                transition: 1s;
            }

        /*#######################################*/

    #information_container{
        grid-area: information;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        text-align: center;
        font-family: gotham-bold;
        font-size: 24px;
        font-weight: 600;
        color: var(--color-second);
        }
        .information{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            }
            .information li{
                margin: 0.5rem;
                }
                .edicoes_anteriores{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    width: 100%;
                    margin-bottom: 2rem;
                    }
                    .edicoes_title{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 10vh;
                        font-size: 24px;
                        font-weight: bold;
                        text-align: center;
                        }
                        .edicoes_title .icon{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 8vw;
                            height: 100%;
                            }
                            .edicoes_title .icon img{
                                position: relative;
                                top: 0;
                                left: 0;
                                width: 70%;
                            }
                    .frame_edicoes{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding: 1rem;
                        margin: 1rem;
                        width: 300px;
                    }
                    .edicoes_anteriores header{
                        width: 30%;
                        border-radius: 50px;
                        background-color: var(--color-second);
                    }
                    .edicoes_anteriores span{
                        text-align: left;
                        color: var(--color-dark);
                        margin-top: 20px;
                    }
                    .edicoes_anteriores header h2{
                        font-size: 1rem;
                        font-weight: bold;
                        color: var(--color-light);
                    }
                    .edicoes_anteriores .edicoes_txt{
                        margin-top: 20px;
                        font-size: 18px;
                        font-family: gothan-light;
                        font-weight: lighter;
                        line-height: 24px;
                        color: var(--color-blue);
                    }
    #main_slide_container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
        }
        .videos{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin-top: 2rem;
            cursor: pointer;
            }
            .videos video[poster]{
                width: 100%;
            }

    #schedule{
        grid-area: schedule;
        display: flex;
        flex-direction: column;
        height: auto;
        line-height: 32px;
        color: var(--color-dark);
        background-color: var(--color-light);
        }
        .palestrante{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            width: 100%;
            height: auto;
            margin-top: 2rem;
            }
            .nome{
                font-family: gothan-bold;
                font-size: 1rem;
                color: var(--color-second);
            }
            .palestrante_foto{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15%;
                /* height: 200px; */
                clip-path: circle(40%);
                }
                .palestrante_foto img{
                    width: 100%;
                }
                .palestrante_info{
                    display: flex;
                    flex-direction: column;
                    padding-left: 1rem;
                    }
                    .palestrante_info .palestrante_description{
                        font-weight: lighter;
                        font-size: 0.9rem;

                    }
        .painel p{
            font-family: gothan-bold;
            font-size: 24px;
            font-weight: bold;
        }
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            text-align: center;
            width: 60%;
            }
            .text p{
                font-weight: bolder;
                line-height: 24px;
                margin: 1rem 0 1rem 0;
                }
            .text span{
                font-weight: bolder;
                color: var(--color-second);
            }
        .event_container{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            width: 100%;
            height: auto;
            margin: 0 auto;
            }
            .event_container p{
                line-height: 21px;
                color: var(--color-light-blue);
                }
            .event_container h2{
                margin: 1rem 0 1rem 0;
                }
            .event_article{
                display: flex;
                flex-direction: column;
                border-top: var(--color-light-blue) solid;
                margin: 0.5rem 0 0.5rem 0;
                padding: 1rem 0;
                width: 60%;
                height: auto;
                color: var(--color-light-blue);
                }
                .event_header{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                }
                .event_header h3{
                        color: var(--color-second);
                    }
                .event_content{
                    display: flex;
                    flex-direction: column;
                    margin: auto 0;
                    font-size: 18px;
                    font-family: gotham-light;
                    font-weight: 500;
                    height: 100%;
                    }
                    .event_content p{
                        color: var(--color-dark);
                        }
    #secondary_slide_container{
        grid-area: secondary_slide;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:var(--color-light);
        }
        .patrocinadores{
            width: 100%;
            height: 100%;
        }
        .modal_form h2{
            margin-bottom: 1rem;
            color: var(--color-light);
        }
        .patrocinadores_container{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 80%;
            margin: 0 auto;
                }
                .patrocinador_content{
                    width: 70%;
                    margin: 0 auto;
                    height: auto;
                    }
                    .patrocinador_content h2{
                        margin: 2rem 0 2rem 0;
                        font-size: 32px;
                        font-family: gothan-bold;
                        color: var(--color-dark);
                    }
                    .patrocinador_content ul{
                        margin-bottom: 2rem;
                        }
                        .patrocinador_content ul span{
                            color: var(--color-dark);
                            font-family: gothan-bold;
                        }
                        .patrocinador_content ul li{
                            list-style: disc;
                            margin: 0.5rem 0 2rem;
                            color: var(--color-dark);
                            font-size: 24px;
                            font-weight:lighter;
                            }                        
    #main_footer{
        grid-area: footer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        height: 50vh;
        }
        .social_container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            }
            .social_container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                }
                .social{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color: var(--color-medium-blue);
                    }
                    .social a{
                        display: flex;
                        justify-content: center;
                        align-items:center;
                        }
                    .social img{
                        width: 55%;
                    }
                    .abiogas{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                    }
                    .logo{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                    }
                    .contato{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                    }

/*btnMotal*/


/* The Modal (background) */
.modal {
    display: none; /* por padrão é escondido todo o formulario */
    position: fixed; /* torna fixo */
    z-index: 1; /* Sobre todos os demais elementos */
    left: 0;
    top: 0;
    width: 100%; /* pega 100% da largura */
    height: 100%; /* pega 100% da altura */
    overflow: auto; /*Se precisar de scroll*/
    background-color: rgb(0,0,0); /* Cor de fundo */
    background-color: rgba(0,0,0,0.4); /* cor de fundo com opacidade */
}

  /* Modal Content/Box */
.modal-content {
    margin: 5% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 30vw;
    height: auto; /* Could be more or less, depending on screen size */
}
/* .modal_form_contato{

} */
.modal_form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: var(--color-medium-blue);
}
.modal_form input[type="text"], input[type="number"]{
    margin: 0.5rem;
    width: 100%;
    height: 5vh;
}
.modal_form  textarea{
    margin: 0.5rem;
    width: 100%;
    height: 20%;
}
.modal_form input[type="button"], .btn_endereco, #myBtn, #btn_contato{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: 0.5rem;
        border-radius: 50px;
        border-style: none;
        width: 45%;
        height: 5vh;
        font-family: gothan-bold;
        font-size: 0.9rem;
        color: var(--color-light);
        background-color: var(--color-second);
    }
    .btn_endereco{
        padding: 3%;
    }
    #btn_contato{
        width: 20vw;
    }
.txt_area{
    width: 15vw;
}

  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}