@media screen and (max-width:768px){


    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_menu{
        position: fixed;
        flex-direction: column;
        left: -100%;
        top: 70px;
        gap: 0;
        width: 100%;
        text-align: center;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
        background-color: var(--color-light);
    }
    .nav_item{
        margin: 16px 0;
    }
    .nav_menu.active{
        left: 0;
    }

    .inscription_detail{
        width: 100%;
    }
    .call_frame, .slider, .manual-navigation, .navigation-auto{
        width: 100%;
    }
    /* .slides{
        background-color: aquamarine;
        width: 800px;
    } */

    /* #main_header, 
    #inscription, 
    #call, 
    #information_container, 
    #main_slide_container, 
    #schedule, 
    #secondary_slide_container,
    #main_footer{
        margin: 0;
        padding: 0;
        width: 100%;
    } */
}