/*RESET STYLE*/
*{
    margin: 0;
    padding: 0;
    font-family: 'gotham';
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*PROJECT COLORS*/
:root{
    --color-second: #e28431;
    --color-blue: #2dc3ca;
    --color-medium-blue: #0099a8;
    --color-main: #007078;
    --color-light-blue: #75d3d7;
    --color-dark: #3f3f3f;
    --color-medium-dark: #44546a;
    --color-light: #e7e6e6;
}

html, body{
    height: 100%;
    background-color: var(--color-light);
}

main{
    display: grid;
    grid-template-rows: auto 80vh 20vh auto auto auto 25vh 30vh;
    grid-template-areas: 
        'header'
        'inscription'
        'call'
        'information'
        'main_slide'
        'schedule'
        'secondary_slide'
        'footer'
        ;
    }
    #main_header{
        grid-area: header;
        display: flex;
        align-items: center;
        width: 100%;
        height: 10vh;
        padding: 0 1rem 0 1rem;
        }
        #logo{
            display: flex;
            justify-content: start;
            align-items: center;
            width: 50vw;
            height: 100%;
            }
            #logo img{
                width: 90%;
                }
        #main_nav{
            display: flex;
            justify-content: end;
            align-items: center;
            }
            #main_nav ul{
                display: none;
                justify-content: center;
                align-items: center;
                }
            #main_nav img{
                width: 10%;
            }
    #inscription{
        grid-area: inscription;
        display: flex;
        justify-content: start;
        background: linear-gradient(rgba(66, 66, 66, 0.4), rgba(15, 72, 75, 0.4)), url(/components/images/biogas.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        }
        .inscription_detail{
            padding: 1rem;
            width: 100%;
            height: 90%;
            font-size: 1.5rem;
            font-weight: 400;
            text-align: start;
            }
            .inscription_detail h2{
                text-align: start;
                color: var(--color-light-blue);
                font-family: 'gotham-bold';
                font-weight: 500;
            }
            .inscription_detail p{
                color: var(--color-light);
                font-family: 'gotham-light';
                font-size: 18px;
                line-height: 24px;
            }
            .inscription_detail button{
                margin-top: 2rem;
                border-radius: 10px;
                border: var(--color-second) solid 2px;
                width: 40%;
                height: 10%;
                font-size: 22px;
                color: var(--color-second);
                background-color: transparent;
            }
    #call{
        grid-area: call;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem 0 1rem;
        text-align: center;
        font-family: 'gotham-bold';
        font-size: 24px;
        line-height: 21px;
        color: var(--color-dark);
        /* background-color: var(--color-light); */
        }
    #information_container{
        grid-area: information;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        text-align: center;
        font-family: 'gotham-bold';
        font-size: 24px;
        font-weight: 600;
        color: var(--color-second);
        }
        .information{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            }
            .information li{
                margin: 0.5rem;
                }
    #main_slide_container{
        display: flex;
        justify-content: center;
        align-items: center;
        }
        #main_slide_container img{
            width: 100%;
            }
    #schedule{
        grid-area: schedule;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: auto;
        line-height: 32px;
        color: var(--color-dark);
        }
        .text{
            margin: 0 auto;
            text-align: center;
            width: 60%;
            }
            .text p{
                line-height: 21px;
                margin: 1rem 0 1rem 0;
                }
            .text span{
                font-weight: bolder;
                color: var(--color-second);
            }
        .event_container{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            }
            .event_container p{
                line-height: 21px;
                color: var(--color-blue);
                }
            .event_container h2{
                margin: 1rem 0 1rem 0;
                }
            .event_article{
                border-top: var(--color-light-blue) solid;
                margin: 0.5rem 0 0.5rem 0;
                width: 80%;
                height: 25vh;
                color: var(--color-second);
                }
                .event_header{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    }
                .event_content{
                    font-size: 18px;
                    font-family: 'gotham-light';
                    font-weight: 500;
                    height: 100%;
                    }
                    .event_content p{
                        color: var(--color-second);
                        }
    #secondary_slide_container{
        grid-area: secondary_slide;
        background-color:var(--color-medium-blue);
    }
    #main_footer{
        grid-area: footer;
        background-color: var(--color-dark);
    }
    .mySlides {display:none;}

    /*SLIDE EFECTS*/